# Configure clang-tidy for this project.
# For list of checks, see: https://clang.llvm.org/extra/clang-tidy/checks/list.html
Checks: >
  -*,
  bugprone-*,
  clang-analyzer-core.*,
  clang-analyzer-cplusplus.*,
  performance-*,
  -performance-no-int-to-ptr,
  -bugprone-easily-swappable-parameters,
  -bugprone-narrowing-conversions,
  -bugprone-implicit-widening-of-multiplication-result,
  -bugprone-reserved-identifier,
  -readability-identifier-naming,

# Turn all the warnings from the checks above into errors.
WarningsAsErrors: ''

# Exclude certain headers from checks
HeaderFilterRegex: '.*(?<!third_party)$'

# Configure checks
CheckOptions:
  - key: readability-identifier-naming.ClassCase
    value: lower_case
  - key: readability-identifier-naming.VariableCase
    value: lower_case
  - key: readability-identifier-naming.FunctionCase
    value: lower_case
  - key: readability-identifier-naming.ParameterCase
    value: lower_case
  - key: readability-identifier-naming.MemberCase
    value: lower_case
  - key: readability-identifier-naming.ConstantCase
    value: UPPER_CASE
  - key: cppcoreguidelines-special-member-functions.AllowSoleDefaultDtor
    value: true


